*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.texto{
    text-align: justify;
    margin: 10px;
    padding: 10px;
}
.portada{
    margin: 20px;
    padding: 10px;
}
.subtitulo1{
    text-align: center;
}

/** Perfumería **/

.fraganciasFem,
.fraganciasMasc,
.fraganciasUnix{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    
}
.tarjeta{
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid #5f6062;     
    border-radius: 5px;
}
.imagen{
    width: 110px;
    height: 150px;
}
#precio{
    font-size: 20px;
}
.agrega,
.agrega1,
.agrega2,
.agregaC{
    width: 150px;
    border-radius: 3px;
    background-color: azure;
}
.agregaC a{
    text-decoration: none;
    color: black;
}
.precio{
    font-size: 25px;
    font-weight: bolder;
}
/** Carrito **/

.contenedorCarrito{
    display: flex;
    flex-direction: column;    
}
.img-car{
    width: 75px;
    height: 100px;
}
.subTit2{
    font-size: 18px;
}
.subTit3{
    font-size: 15px;
}
.precio{
    font-size: 14px;
    
}
.subtotal{
    font-size: 20px;
}

.tarj-car{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: 200px;
    border: 2px solid #5f6062;     
    border-radius: 5px;
}
.cantidad-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
.eliminar{
    width: 150px;
    border-radius: 3px;
    background-color: rgb(221, 182, 246);
    border-color: rgb(221, 182, 246);
}

.finalizarComp,
.vaciarCar,
.guardarP{
    width: 150px;
    border-radius: 3px;
    color: beige;
    background-color: rgb(119, 109, 229);
}